

.badge-container {
  display: inline-flex;
  border: none;
}

.badge {
  margin: 10px;
  width: 67px;
  height: 24px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}


